.html {
  background: yellow;
}

.cats {
  width: 50%;
}

.navbar li {
  display: inline;
  float: right;
  background-color: green;
}

.nav-item li {
  display: inline;
  float: right;
}

/*.container {

}

.hero {

}

.call-to-action {

}

.products {

}

.about {

}*/
